<div *ngIf="!!hero; else nenhumHeroiSelecionado">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <label>Nome:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
</div>

<ng-template #nenhumHeroiSelecionado>
  <p>Nenhum heroi selecionado</p>
</ng-template>

<button (click)="save()">Salvar</button>
<button (click)="goBack()">Voltar</button>
