<div *ngIf="messageService.messages.length; else nenhumaMensagem">
  <h2>Mensagens</h2>
  <button class="clear" (click)="messageService.clear()">Apagar</button>
  <br>
  <br>
  <div *ngFor='let message of messageService.messages'> {{ message }} </div>
</div>

<ng-template #nenhumaMensagem>
  Nenhuma mensagem a ser exibida
</ng-template>
